*{
    text-decoration: none !important;
}
header{
    .header-part{
        background-color: #F2F2F2;
    }
}
.containe{
    .liddle-c{
        width: 40%;
        .image-middle{
            width: 250px;
            height: 159px;
        }
    }
}
footer{
    .up-footer{
        .img-footer{
            width: 50px;
            height: 50px;
            object-fit: cover;
        }
        .txt-footer-right{
            span{
                font-size: 13px;
            }
            a{
                color: #BABABA;
                &:hover{
                    color: white;
                }                
            }
        }
    }
}